*{
    padding: 0;
    margin: 0;
}
.list-content{
    background: #FFF;
    padding: 60px;
}
.list-header{
    /*background-color: yellow;*/
    margin: 0;
    padding: 0;
}
.left-header-line{
    vertical-align:top;
    display: inline-block;
    background: #f5f5f5;
    width: 5px;
    height: 15px;
    margin-top: 8px;
}
.list-header-circle{
    margin-left: -2px;
    border-radius: 50%;
    width: 10px;
    height: 10px;
    background: #c8c8c8;
}

.list-header span{
    vertical-align:top;
    display: inline-block;
    margin-left: 8px;
    font-size: 16px;
}

.list{
    height: 100%;
    border-bottom: 1px dashed #aaaaaa;
}

.left-line{
    float: left;
    background: #f5f5f5;
    width: 5px;
    height: 80px
}
.list-circle{
    margin-top: 60px;
    border-radius: 50%;
    width: 6px;
    height: 6px;
    background: #c8c8c8;
}
.right-title{
      padding: 50px 0 0 20px;
      height: 80px;
     /*background: palegoldenrod;*/
}
.list a{
   color: #666666;
   display: inline-block;
    font-size: 16px;
    margin-left: 8px;
    /*background: red;*/
}
.list p {
    display:  inline-block;
   font-size: 13px;
}