
.archives-list-content{
    background: #fff;
    padding: 60px;
}


.archives-title{
    font-size: 32px;
    margin-left: -6px;
    color: #aaaaaa;
}

.archives-title span{
    font-size: 24px;
}

.archives-title p {
     font-size: 10px;
}



.list{
    border-left:4px #f5f5f5 solid;
}
.archive{
  margin-left: -5px;
  list-style: disc;
  font-size: 22px;
  padding-top: 36px;
  color: #aaaaaa;
  border-bottom: 1px #c8c8c8 dashed;
}
.archive:hover{
   border-bottom: 1px #000 dashed;
   color: #000;
}
.archive p{
    display: inline-block;
    color: #666666;
}
.archive a{
       display: inline-block;
    color: #666666;
}
.archive p {
    font-size: 14px;
    height: 100%;
}
.archive a {
    font-size: 16px;
    margin-left:10px ;
}