<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
     {% block meta %}<!-- block meta  -->{% endblock %}
    <title>{% block title %} ? {% endblock %}</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
      <link rel="shortcut icon" href="../static/images/popo.jpeg" >
    <script  src="../static/js/jquery.min.js"></script>

      <!--高亮-->
    <script src="../static/ckeditor/plugins/codesnippet/lib/highlight/highlight.pack.js"></script>
    <link rel="stylesheet" href="../static/ckeditor/plugins/codesnippet/lib/highlight/styles/default.css">
    <script>hljs.initHighlightingOnLoad();</script>

    <link rel="stylesheet" href="../static/bootStrap/css/bootstrap.min.css">
    <script  src="../static/bootStrap/js/bootstrap.min.js"></script>
    <script src="../static/js/vue.min.js"></script>

   <!--<link rel="stylesheet" href="../static/css/responsive-nav.css">-->
      <!--<script src="../static/js/responsive-nav.js"></script>-->

    <script src="../static/js/base.js"></script>
    <link rel="stylesheet" href="../static/css/baseCss.css">
    {% block beforehead %} {% endblock %}
  </head>
  <body>
   <div class="topLine"></div>
   <div class="mainContent">
       <!--个人信息-->
       <div class="left-box">
           <aside >
               <section class="topspaceinfo">
                   <h1>{{admin.blogName|safe}}</h1>
                   <p>{{admin.blogDescription|safe}}</p>
               </section>
               <div role="navigation" id="nav" class="nav-collapse">
                   <ul>
                       <li class="active"><a href="/"><span class="glyphicon glyphicon-home"></span>&nbsp;&nbsp; 首页 </a></li>
                       <li><a href="/archives/"><span class="glyphicon glyphicon-briefcase"> </span>&nbsp;&nbsp;   归档</a></li>
                       <li><a href="/tags"><span class="glyphicon glyphicon-tags"></span>&nbsp;&nbsp;   标签</a></li>
                   </ul>
               </div>
             <div class="pinContainer">
                <div class="pin" style="background: white">
                   <div class="avatar">
                     <img class="avatarImg" src="{{admin.image}}">
                   </div>

                    <div class="userInfo">
                      <p id="name">{{admin.ownName|safe}}</p>
                      <p class="description">{{admin.ownDescription|safe}}</p>
                    </div>
                    <section class="blogerInfo">
                       <div>
                          <span><a href="/archives/">{{blogCount}}</a><span class="tag">日志</span></span>
                       </div>
                       <div>
                         <span> <a href="#">6</a><span class="tag">分类</span></span>
                       </div>
                       <div>
                         <span><a href="/tags">11</a><span class="tag">标签</span></span>
                       </div>
                    </section>
                    <div class="githublink">
                       <a href="{{admin.githubSite|safe}}">Github</a>
                    </div>
                    <div class="outLink">
                       <span class="glyphicon glyphicon-globe" style="margin-top: 10px"> Links</span>
                       <ul>
                           <li><a href="http://blog.csdn.net/leixiaohua1020">LeiXiaoHua</a></li>
                           <li><a href="https://github.com/aymericdamien/TopDeepLearning">DeepLearning</a></li>
                           <li><a href="http://roxlu.com">Roxlu</a></li>
                           <li><a href="https://learnopengl-cn.github.io/">Learnopengl-cn</a></li>
                       </ul>
                     </div>
                </div>
             </div>
           </aside>
       </div>
       <!--博客区域-->
       <div class="right-box">
           {% block content %}
            {% endblock %}
       </div>

   </div>

   <footer>
      <div style="color: white;">
          <p style=" margin-top: 20px">© 2016 - 2017<span class="glyphicon glyphicon-fire"></span> Leon Hwa</p>
          <p>Power By <a href="https://www.python.org">Python</a></p>
      </div>
   </footer>
</body>
 <script src="../static/js/jquery.pin.js"></script>
<script>
    $(".pin").pin();
</script>
</html>
