{% extends '__base__.html' %}

{% block title %}首页{% endblock %}

{% block beforehead %}


 <script src="../static/js/blogs/home.js"></script>
 <link rel="stylesheet" href="../static/css/home/home.css">

<script>


    function initVM(data) {
    vm = new Vue({
        el: '#vm',
        data:{
         has_pre:data.has_pre,
         has_next:data.has_next
        },
         methods: {
            next_page: function () {
                if({{page.current_page}}+ 1 <= {{page.page_count}}){
                    location.assign('/?page=' + ({{page.current_page}}+ 1));
                }
            },
            pre_page: function () {
                if({{page.current_page}}- 1 >= 1){
                    location.assign('/?page=' + ({{page.current_page}} - 1));
                }
         }
        }
    });
    $('#vm').show();
}


    $(function () {

           $('.nav-collapse ul li').each(function () {
          $(this).removeClass('active');
          $('.circle').remove();
      });
    $('#nav ul li').eq(0).addClass("active");
    $('.normal-circle').eq(0).addClass("select-circle");
       var pre_disable = true;
            next_disable = true;
            if ({{page.has_pre}}) {
                pre_disable = false
            }
            if ({{page.has_next}}) {
                next_disable = false
            }
            data = {
                has_pre: pre_disable,
                has_next: next_disable
            };
            var page_count = {{page.page_count}};
            var current_page = {{page.current_page}};
            addPage(page_count,current_page);
            initVM(data);

    })
</script>

{% endblock %}


{% block content %}
    {% for blog in blogs %}
              <article>

              <!--标题-->
              <div class="blog-header">
                 <h2 id="blogName">{{blog.name}}</h2>
                 <div class="sumary">
                    <p><i class="icon-edit"></i> 发表于{{blog.created_at|datetime }}</p>
                    {% if comments %}
                    <p>{{comments|length}}条评论</p>
                    {% else %}
                    <p><i class="icon-comment-alt"> </i><span class="ds-thread-count" data-thread-key={{blog.id}}></span></p>
                    {%  endif %}
                    <p><i class="icon-eye-open"></i> 浏览次数 {{blog.scan_count}}</p>
                 </div>
              </div>
              <!--内容-->
              <div class="blogContent" >
                  <!--<ul class="text">-->
                  {{blog.summary|safe}}
                  <!--</ul>-->
              </div>
              <div class="textFoot">
                  <a href="/blog/{{ blog.id }}">阅读全文 ></a>
              </div>
                  <!--尾巴-->
               <!--<div class="bottom-seperator"></div>-->
          </article>
                            {% if not loop.last %}
               <div class="sep" style="margin: 0"><span class="left-arrow arrow"></span><span class="right-arrow arrow"></span></div>
                  {% endif %}

    {% endfor %}


<nav class="page-nav" id="vm">
  <ul class="pagination pagination-sm">
    <li id="pre" v-bind:class="{ disabled: has_pre}" v-on:click="pre_page"><span>&laquo;</span></li>
    <li id="next" v-bind:class="{ disabled: has_next}"  v-on:click="next_page"><span>&raquo;</span></li>
  </ul>
</nav>

<!-- 多说js加载开始，一个页面只需要加载一次 -->
<script type="text/javascript">
var duoshuoQuery = {short_name:"yybbox"};
(function() {
    var ds = document.createElement('script');
    ds.type = 'text/javascript';ds.async = true;
    ds.src = 'http://static.duoshuo.com/embed.js';
    ds.charset = 'UTF-8';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
})();
</script>
<!-- 多说js加载结束，一个页面只需要加载一次 -->
{% endblock %}