{% extends '__base__.html' %}

{% block title %}首页{% endblock %}

{% block beforehead %}



{% endblock %}

{% block content %}

    {% for blog in blogs %}
              <article>
              <!--标题-->
              <div class="blog-header">
                  <h2 class="title"><a>{{blog.name}}</a></h2>
              </div>
              <!--内容-->
              <div class="blogContent" htmlEscape="false">
                  <!--<ul class="text">-->
                  {{blog.content|safe}}
                  <!--</ul>-->
              </div>
              <!--尾巴-->
              <div class="textFoot">
                  <a href="/blog/{{ blog.id }}">阅读全文</a><a href="#">评论</a><a href="#">转载</a>
              </div>
          </article>

    {% endfor %}

{% endblock %}