{% extends '__blogManageBase__.html'%}
{% block title %} 编辑文章-Leon {% endblock %}

{% block beforehead %}
  <script>

       var     ID = '{{ id }}',
               action = '{{ action }}';

      function validateForm() {
          var n_title = document.forms["myForm"]["blogTitle"].value;
          var n_content = CKEDITOR.instances.editor.getData();
          var n_summary =  CKEDITOR.instances.sumary_editor.getData();

          var data = {
            name: n_title,
            summary: n_summary,
            content: n_content
          };
          var $form = $('#myForm');
          $form.postJSON(action,data,function (err,r) {
                  alert('请求');
                  if(!err){
                          return location.assign('/blog/' + r.id)
                  }else {
                      alert('错误')
                  }
             });

          return false;
      }

   </script>
{% endblock %}


{% block action %}
  <input type="submit" value="确认修改">
{% endblock %}


{% block content %}
 <script>
              getJSON("/api/blogs/"+ ID,function (err,blog) {
             if(blog){
                document.forms["myForm"]["blogTitle"].value = blog["blog"].name;
                CKEDITOR.instances.sumary_editor.setData(blog["blog"].summary);
                CKEDITOR.instances.editor.setData(blog["blog"].content);
             }
         });
 </script>
{% endblock %}
