{% extends '__base__.html' %}

{% block title %} 标签 {% endblock %}


{% block beforehead %}

<link rel="stylesheet" href="../static/css/tags/tags.css">
<script src="../static/js/tags/tag.js"></script>
{% endblock %}



{% block content %}
<div class="tags-container">

  <div class="header">
      <h2 class="title">All tags</h2>
      <h5>共计{{tags|length}}个标签</h5>
  </div>

<div class="allTags">
    {% for tag in tags%}
 <a href="/tags/{{tag.tag|removeSub}}" class="tagName">{{tag.tag|removeSub}}</a>
{% endfor %}
</div>

</div>
<script>
   init();
</script>
{% endblock %}