*{
  margin: 0;
  padding: 0;
}

img{
  border: 0;
  vertical-align: middle;
    max-width: 600px;
}
ul{
  list-style: none;
}
p{
  display: block;

}
a{
  color: #000;
  text-decoration: none;
}
a:focus {  outline:none;   -moz-outline:none;text-decoration: none;}
a:hover{
  background-color: #f9f9f9;
  text-decoration: none;
}

body{

  text-decoration: none;
  /*font: 12px "宋体", "Arial Narrow", HELVETICA;*/
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  background-color: #f5f7f9;
  width: 100%;
}
.topLine{
    width: 100%;
    height: 4px;
    background: #000;
    margin: 0;
    padding: 0;
}
.mainContent{
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}
.left-box{
  float: left;
  width: 240px;
  background-color: transparent;
}


aside{
  width: 100%;
}



.topspaceinfo{
  background: #000;
  padding: 26px ;
  color: #fff;
  text-align: center;
}
.topspaceinfo h1{
  font-size: 16px;
  line-height: 40px;/*间距?*/
}
.nav-collapse {
    background-color: #FFF;
}
.nav-collapse ul{
  padding-bottom: 20px;
  padding-top: 20px;
  vertical-align: middle;

}
.nav-collapse ul li:hover{
  background: #f9f9f9;
}

.nav-collapse ul li a{
  font-size: 14px;
  color: #000;
  text-decoration: none;
  width: 90%;
  display: inline-block;
  padding: 8px 18px;
}
.nav-collapse ul li  a {
  line-height: 24px;

}
.nav-collapse ul li  a :hover {
  text-decoration: none;
}


.active{
  background:#f9f9f9;
}


.pinContainer{
    background-color: #fff;
    padding-top: 20px;
}
.avatar{
  margin:6px auto;/*auto 后就居中了*/
  width: 120px;
  height:120px;
  overflow: hidden;
}
.avatar .avatarImg{

  background-size: 120px 120px;
  /*max-width: 120px;*/
  width: 100%;
  height: 100%;
  /*height: 120px;*/
}
.userInfo {
  margin-top: 20px;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  color: #000;
  text-align: center;
}
#name{
  color: #000;
  font-size: 18px;
}
.userInfo .description{
  color: #666666;
  font-size: 12px;
}
aside section { display: block; overflow: hidden }

.blogerInfo{
  padding-left: 30px;
  margin-top: 20px;
}
section div{
  padding: 0;
  display: inline-block;
  width: 60px;
  text-align: center;
 border-right: 1px solid #e2e2e2;
}
section div:last-child{
  border-right: 0;
}
section div span{
  display: block;
}
section div span a{
  color: #000;
  font-size: 18px;
}
.tag{
  color: #666666;
}

.taglist ul{
  padding: 20px  30px;
}
.taglist ul li a{
  margin-right: 5px; color: #454545;
  display: inline-block;
  float: left;
  padding: 2px 5px;
}

.githublink{
  margin: 20px 20px 0 12px;
}
.githublink a{

  background: url("../images/github.jpg") no-repeat 4% 40%;
  padding: 3px  20px  0 30px;
  /*background-color: red;*/
}

.outLink{
  border-top: 1px dashed #e2e2e2;
  margin-left: 20px;
  margin-right: 0;
  padding-bottom: 8px;
}

.outLink ul li{
    margin: 8px 8px 0 0;
    display: inline-block;
    text-align: left;
    width: 40%;

}
.outLink ul li a{
    color: #0f0f0f;
   border-bottom: 1px solid #000;
    padding-bottom: 2px;
}
/************************************************content**************************************************/


.right-box{
  float: right;
  width: 740px;
  /*background-color: #FFFFB6;*/
  padding: 0;
    margin: 0;
      /*border-top-left-radius: 12px;*/
  /*border-bottom-left-radius: 12px;*/
  /*border-top-right-radius: 12px;*/
  /*border-bottom-right-radius: 12px;*/
    overflow: hidden;
}
article{
    background-color: #FFF;
    padding-top: 20px;
    margin: 0;
}

.blog-header{

  text-align: center;
}
.blog-header .sumary p {
    padding: 0 6px;
    display: inline-block;
    border-right: 1px solid #e2e2e2;
    /*background-color: #00a8e6;*/
    font-size: 13px;
}

.sumary{
 margin-top: 10px;
}
.blog-header .sumary :last-child {
    border-right: 0;
}
.title a { color: #454545;  }
#blogName{
    margin: 0;
}

.blogContent{
  font-size: 14px;
  padding: 10px 40px;
}

.text p {
  line-height: 24px;
  margin-bottom: 20px;
}

.textFoot {
  padding-bottom: 20px;
  text-align: center;
  margin-top:40px;
}
.textFoot:last-child{
    padding-bottom: 60px;
}

.textFoot a{
  padding: 6px 16px;
  color: #000;
  border-style: solid;
  border-width: 2px;
  border-color: #000;
}
.textFoot a:hover{
   color: #FFF;
  background: #000;
}
.bottom-seperator{
    /*background-color: #bbbbbb;*/
    border-bottom: 1px dashed #bbbbbb;
    width: 100%;
    height: 1px;
    margin-top: 40px

}
.sep {
	position: relative;
	height: 0;
	border: 0 none;
	border-bottom: 1px dashed #ccc;
	margin: 20px 0; padding: 0;
}
.sep .arrow {
	position: absolute;
	top: -9px;
	width: 0; height: 0;
	display: block;
}

.sep .left-arrow {
	left: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 10px solid #f5f7f9;
}
.sep .right-arrow {
	right: 0;
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent;
	border-right:10px solid #f5f7f9;
}
/******************Footer*********************/
footer{
  text-align: center;
  padding-top: 10px;
  background: #000;
  width:100%;
  height: 120px;
}

footer div {
  text-align: center;

}