<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
     {% block meta %}<!-- block meta  -->{% endblock %}
    <title>{% block title %} ? {% endblock %} - Awesome Python Webapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/static/css/styles.css">
    <script  src="/static/js/jquery.min.js"></script>
    <script  src="/static/bootStrap/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="/static/bootStrap/css/bootstrap.min.css">
    <script  src="/static/bootStrap/js/bootstrap.min.js"></script>
    <script src="/static/js/vue.js"></script>

    <!--[if lte IE 8]><link rel="stylesheet" href="/static/css/responsive-nav.css"><![endif]-->

    <script src="/static/js/responsive-nav.js"></script>
  </head>
  <body>

    <div role="navigation" id="foo" class="nav-collapse">
      <ul>
        <li class="active"><a href="#">首页</a></li>
        <li><a href="#">归档</a></li>
        <li><a href="#">标签</a></li>
           {% if __user__ %}
             <li><a href="/signout">{{__user__.name}}</a></li>
           {% else %}
         <li><a href="/signin">登陆</a></li>
         <li><a href="/register">注册</a></li>
           {% endif%}
      </ul>
    </div>

    <div role="main" class="main">
      <a href="#nav" class="nav-toggle">Menu</a>
       {% block content %}
       {% endblock %}
    </div>

    <script>
      var navigation = responsiveNav("foo", {customToggle: ".nav-toggle"});
    </script>
  </body>
</html>
