.tags-container{
    background: #FFF;
    padding-top: 60px;
}

.header{
    /*align-content: center;*/
    padding: 20px;
}
.header h2{
    width: 100%;
    text-align: center;
}
.header h5{
    margin-top:20px;
    width: 100%;
    text-align: center;
}


.allTags{

    padding: 60px;
}
.tagName{
    color: #212121;
    border-bottom: solid 1px #999999;
    font-size: 24px;
    margin-left: 20px;
    padding-bottom: 6px;
}
.tagName:hover{
    /*background-color: ;*/
     color: #212121;
    border-bottom: solid 1px #000;
    background-color: transparent;

}